/* color vars */
:root{
    --blue-color: #1f2278;
    --btn-primary: #565acf;
    --btn-primary-hov : #464aac;
    --orange-color: #f17732;
    --orange-hov: #d1682c ;
    --bg-color: #f5f5fc;
    --box-shadow-color: #dbd8d8;
    --facebook-color: #3b5998;
    --twitter-color: #498cbf;
    --pinterest-color: #cc2127;
}
/* login and regist form */
#login, #regist{
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    font-size: 1.3rem;
    font-weight: 500 !important;
    text-transform: capitalize;
    text-align: center;
    padding: 22px;
    background-color: #fff;
    box-shadow: 0 0 12px var(--box-shadow-color);
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}
.form-container .logo{
    width: fit-content;
    margin: auto !important;
}
.form-container .logo img{
    width: 100%;
}
.form-container form{
    padding: 24px 12px;
}
.form-container form input[type="text"],
.form-container form input[type="password"],
.form-container form input[type="email"],
.form-container form input[type="number"]{
    padding: 18px !important;
    border: 1px solid rgba(86,90,207,.3);
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}
.form-container form input[type="text"]:hover,
.form-container form input[type="password"]:hover,
.form-container form input[type="email"]:hover,
.form-container form input[type="number"]:hover{
    border-color: var(--btn-primary);
}
.form-container form input:focus{
    box-shadow: none;
    border-color: var(--btn-primary);
}
.form-container form input{
    font-weight: 500;
    font-size: 1.3rem;
    color: #000;
}
.form-container input::placeholder{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000;
}
.form-container form input[type="checkbox"]{
    padding: 10px;
    border: 1px solid rgba(86,90,207,.3) !important;
}
.form-container button{
    width: 100%;
}
.form-container form button:hover, .form-container form button:focus{
    background-color: var(--btn-primary-hov) !important;
}
.or button:hover, .or button:focus{
    background-color: var(--orange-hov) !important;
}
/* end login and regist form */

/* animations */
/* up and down animation */
.updown{
    animation: upanddown 2s infinite  alternate;
    -webkit-animation: upanddown 2s infinite  alternate;
}
@-webkit-keyframes upanddown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes upanddown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/* rotate animation */
.rotate{
    animation: rotating 3s infinite  linear;
    -webkit-animation: rotating 3s infinite  linear;
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
/* buttons */
.orange-btn, .primary-btn{
    color: #fff !important;
    font-weight: 500 !important;
    border: none !important;
    font-size: 1.3rem !important;
    text-transform: capitalize !important;
}
.primary-btn{
    background-color: var(--btn-primary) !important;
    border: 1px solid var(--btn-primary) !important;
}
.orange-btn{
    background-color: var(--orange-color) !important;
    border: 1px solid var(--orange-color) !important;
}
/* section header */
.section-header h2{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--blue-color);
    width: fit-content;
    margin: auto !important;
}
.section-header h2::after{
    content: "";
    display: block;
    height: 2px;
    width: 40%;
    margin: auto !important;
    margin-top: 8px !important;
    background-color: var(--orange-color);
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}
.section-header h2:hover::after{
    width: 60%;
}
/* head styles */
.head h4{
    background-image: url(../public/Assets/images/shapes/shape\ 10.png);
    background-size: auto;
    background-position: center;
    width: fit-content;
    padding: 2px 12px;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--orange-color);
}
.head h5{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--blue-color);
}